{% extends "base.html" %}
{% block content %}
    <div class="row">
    <div class="col-sm-2 col-sm-offset-1">
    <h3>{{ category }}</h3>
    </div>
        <div class="col-sm-2">
    <a href="{% url 'category_delete_view' pk=category.id %}">

                <h4>
                    <button type="button" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                    </button>
                </h4>
            </a>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
    <p></p>
    	{% for post in posts %}
        	<p><a class="a-bigger" href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
    	{% endfor %}
    </div>

    </div>

{% endblock content %}