{% extends "base.html" %}
{% block content %}
    <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
<h1>Categories</h1>
<ul>
    {% for category in category_list %}
        <li><a class="a-bigger" href='{{ category.get_absolute_url }}'>{{ category.name }}</a>
            ({{ category.post_set.count }} post{% if category.post_set.count > 1 %}s{% endif %})
        </li>
    {% empty %}
                <p>No categories yet</p>
    {% endfor %}
    </ul>
    </div>
    <div class="col-sm-2 col-sm-offset-2">
        <a href="{% url 'category_create_view' %}">
            <h4>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new category
            </h4>
        </a>
    </div>
</div>
{% endblock content %}