{% extends "base.html" %}
{% block content %}
    <div class="container">
<div class="row">
    <div class="col-sm-8 col-sm-offset-1">
        <h1>Latest posts</h1>
        <ul>
            {% for instance in post_list %}
                <li>
                    <a href='{{ instance.get_absolute_url }}'><h3>{{ instance.title }}</h3></a>
                    <p>Category:<a href="{{ instance.category.get_absolute_url }}">[{{ instance.category }}]</a></p>
                    <p>TEXT: {{ instance.text | truncatewords:"50" }}..</p>
                </li>
            {% empty %}
                <p>No posts yet</p>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-2">
        <a href="{% url 'category_list_view' %}">
            <h4>
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Posts in categories
            </h4>
        </a>
    </div>

    <div class="col-sm-2">
        <a href="{% url 'post_create_view' %}">
            <h4>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new post
            </h4>
        </a>
    </div>

</div>
    </div>
{% endblock content %}