{% extends "base.html" %}
{% block style %}
    h1 {color: grey}
{% endblock style %}


{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1" >
            <h1>{{ object.title }}</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>{{ object.text }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-sm-offset-2">
            <a href="{% url 'post_delete_view' pk=post.id %}">
                <h4>
                    <button type="button" class="btn btn-danger btn-block">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                    </button>
                </h4>
            </a>

            <a href="{% url 'post_update_view' pk=post.id %}">
                <h4>
                    <button type="button" class="btn btn-info btn-block">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Edit
                    </button>
                </h4>
            </a>
        </div>

    </div>

{% endblock content %}