{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<style>
h1 {
	color: red;
}
{% block style %}{% endblock style %}
</style>
</head>
<body>
 <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    	        <span class="icon-toggle"></span>
  	        </button>
  	        <a class="navbar-brand" href="{% url 'post_list_view' %}">PROBEGIN</a>
        </div>
        {% if user.is_authenticated %}
          <div id="logout" class="col-sm-2 col-sm-offset-8">
            <a href="{% url 'logout' %}"><button type="submit" class="btn btn-success">Logout</button></a>
          </div>

        {% endif %}

 </div>
{% block content %}
{% endblock content %}
</body>
</html>