{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <form action="" method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ object.full_name }}"?</p>
            <input type="submit" value="Confirm"/>
            <input type="reset" value="Cancel"/>
        </form>
    </div>
{% endblock %}
