<form class="form-horizontal" method="POST" action="">
    {% csrf_token %}

{% for field in form %}
            {% if field.errors %}
            <div class="row">
                <div class="col-sm-6 control-group error">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class=" col-sm-6 control-group">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}


    <div class="row">
    <div class="col-sm-6">
    <p></p>
        <input type="submit" class="btn btn-primary" value='{% if submit_btn %}
        {{ submit_btn }}
        {% else %}Submit{% endif %}'/>
    </div>
    </div>

</form>