{% extends "base.html" %}

{% block content %}

<div class="col-sm-6 col-sm-offset-4">
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again</p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <p>{{ form.username }}</p>
        <p>{{ form.password }}</p>
        <button class="btn btn-sm btn-primary" type="submit">Sign in</button>
    </form>
</div>

{% endblock %}