{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h3 class="col-sm-6 col-sm-offset-1">{{ form_title }}</h3>
    </div>

    <div class="container">
        {% include "form_include.html" with form=form submit_btn=submit_btn %}
    </div>


{% endblock content %}